RELEASE_NAME=annotations-api
NAMESPACE=paidiver-default

# GHCR pull secret
GHCR_SECRET_NAME=annotations-api-ghcr-pull-secret
GHCR_SERVER=ghcr.io
GHCR_USERNAME=bodcsoft
GHCR_TOKEN=***

# Postgres details
POSTGRES_SECRET_NAME=annotations-api-db-secret
POSTGRES_DB=annotations
POSTGRES_USER=annotations
POSTGRES_PASSWORD=***
POSTGRES_SUPERUSER_PASSWORD=***
POSTGRES_PVC_NAME=data-annotations-api-postgresql-0
POSTGRES_PVC_SIZE=2Gi

# Cluster issuer for cert manager
CLUSTER_ISSUER_NAME=letsencrypt-worms-cache

# Django secret key
DJANGO_SECRET_NAME=annotations-api-django-secret
DJANGO_SECRET_KEY=***
