RELEASE_NAME=worms-cache-api
NAMESPACE=paidiver-default

# GHCR pull secret
GHCR_SECRET_NAME=worms-cache-api-ghcr-pull-secret
GHCR_SERVER=ghcr.io
GHCR_USERNAME=bodcsoft
GHCR_TOKEN=***

# Postgres details
POSTGRES_SECRET_NAME=worms-cache-api-db-secret
POSTGRES_DB=worms-cache
POSTGRES_USER=worms-cache
POSTGRES_PASSWORD=***
POSTGRES_SUPERUSER_PASSWORD=***
POSTGRES_PVC_NAME=data-worms-cache-api-postgresql-0
POSTGRES_PVC_SIZE=2Gi

# Cluster issuer for cert manager
CLUSTER_ISSUER_NAME=letsencrypt-worms-cache

# Django secret key
DJANGO_SECRET_NAME=worms-cache-api-django-secret
DJANGO_SECRET_KEY=***
INGEST_API_TOKEN=mysecrettoken
